.first_contents-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

.first_contents-wrapper .wrapper {
    flex: 1;
}

.left_menu-wrapper {
    display: flex;
    width: 15%;
    height: 100%;
    position: fixed;
}

.contents-wrapper .left_menu {
    flex: 1;
}

.mainline {
    display: flex;
    flex-direction: column;
    /* position: fixed; */
    top: 0;
    bottom: 0;
    left: 0;
    width: auto;
    padding: 0 5em 0 0;
    border-right: solid rgba(0, 0, 0, 0.1);
}

.left_top_tap {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 15%;
    align-items: center;
    justify-content: center; 
}

.calmgram {
    font-family: "Cute Font", sans-serif;
    font-size: 3.5em;
    font-weight: bold;
    margin: 0 0 0.3em 0.5em;
}

.left_middle_tap {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 70%;
    padding-top: 3em;
    align-items: center;
    justify-content:space-evenly;
}

.left_bottom_tap {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 25%;
    padding: 3em 0 1em 0;
    align-items: center;
    justify-content:space-evenly;
}

.popupline {
    display: flex;
    height: 100%;
}

#button_main :hover {
    cursor: pointer;
    content: url('https://cdn-icons-png.flaticon.com/128/174/174855.png')
}

#button_home :hover {
    cursor: pointer;
    content: url('https://cdn.icon-icons.com/icons2/2131/PNG/512/home_house_icon_131529.png')
}

#button_search :hover {
    cursor: pointer;
    content: url('https://cdn-icons-png.flaticon.com/128/9454/9454253.png')
}

#button_explore :hover {
    cursor: pointer;
    content: url('https://cdn-icons-png.flaticon.com/128/15049/15049617.png')
}

#button_reels :hover {
    cursor: pointer;
    content: url('https://cdn-icons-png.flaticon.com/128/12595/12595820.png')
}

#button_DM :hover {
    cursor: pointer;
    content: url('https://cdn-icons-png.flaticon.com/128/8096/8096260.png')
}

#button_heart :hover {
    cursor: pointer;
    content: url('https://cdn-icons-png.flaticon.com/128/11677/11677186.png')
}

#button_add :hover {
    cursor: pointer;
    content: url('https://cdn-icons-png.flaticon.com/128/875/875119.png')
}

#button_profile :hover {
    cursor: pointer;
    content: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlG_3RAX42Eg-bQytsP3ptNfC_YoisT06TXA&usqp=CAU')
}

#button_setting :hover {
    cursor: pointer;
    content: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6OEfCRWG8lzXdFh1ZPfsNzTOEI1d1kYBSbA&s)
}

.modal-dialog {
    display: flex;
    width: 30em;
    height: 30em;
}

.modal-content {
    border-radius: 1.2em;
    box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.5);
}

.form-control {
    border: none;
    outline: none;
}

.placeholder {
    color: #999;
    outline: none;
}

/* main */

.main-wrapper {
    display: flex;
    height: 100%;
    margin: 0 0 0 30em;
}

.boxitem {
    width: 450px;
    height: 750px;
    margin: 100px auto;
    color: black;
    padding-top: 50px;
    border-bottom: 1px solid rgb(207, 207, 207);
    background-image: url(https://i.ibb.co/bJg2ZGT/image.jpg);
    background-size: cover;
    margin-left: 0px;
    margin-right: 200px;
}

/* .pro {

} */

/* right */

.right_menu-wrapper {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    margin: 17em 10em 0 0;
    align-items: center;
}

.right_top_tap {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding: 0 4em 0 0;
}

.sort {
    display: flex;
    align-items: center;
}

.follow_button {
    display: flex;
    align-items: center;
}

.two {
    background-color: transparent;
    border: solid transparent;
    font-family: "Instrument Sans", sans-serif;
    font-weight: bold;
    cursor: pointer;
    color: rgb(18, 140, 255);
    justify-content: right;
    /* text-align: right; */
    /* margin: 0px auto; */
}

.calm {
    font-size: 15px;
    margin-left: 15px;
}

.right_middle_tap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.refer {
    font-family: "Instrument Sans", sans-serif;
    color: gray;
    margin-top: 10px;
    margin-bottom: 0px;
}

* {
    font-family: "Cute Font", sans-serif;
}

.h1 {
    font-size: 30px;
}

/* h2 {
    font-family: "Instrument Sans", sans-serif;
} */

.container {
    width: 100%;
    height: 100%;
    background: white;
    line-height: 40px;
}

#love {
    display: grid;
    grid-template-columns: 250px 1fr;
}

.open1 {
    border-right: 1px solid rgb(223, 223, 223);
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
}

.img-block {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* p {
    font-family: "Instrument Sans", sans-serif;
    color: gray;
    margin-top: 10px;
    margin-bottom: 0px;
} */

/* h3 {
    margin-left: 150px;
} */

.jb-a {
    width: 100%;
    position: relative
}

.jb-c {
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}

.jb-a:hover .jb-c {
    display: block;
}

.tgbtn {
    margin: 0 0 0 1em;
    font-size: 15px;
    font-weight: bold;
    font-family: "Instrument Sans", sans-serif;
    background: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    padding : 1px 6px
}

/* feed */
